// 定义颜色
$primary-color: #ff7f50;
$link-color: #ff7f50;
$color-link-active: #dd6236;
$color-link-hover: #ffa078;
$success-color: #13c2c2;
$warning-color: #ffab25;
$error-color: #fb5228;

// ai colors 中获取
$primary-100: #ff7f50;
$primary-200: #dd6236;
$primary-300: #8f1e00;
$accent-100: #8b4513;
$accent-200: #ffd299;
$text-100: #000000;
$text-200: #2c2c2c;
$text-300: #585858;
$bg-100: #f7eedd;
$bg-200: #ede4d3;
$bg-300: #c4bcab;
  
